<div class="w3-container">
    <form class="w3-container w3-margin-top">
        <div class="w3-center"><br>
            <img src="assets/img_avatar.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
        </div>
        <p>
            <input class="w3-input" type="email" style="width:90%" required>
            <label>Email</label>
        </p>
        <p>
            <input class="w3-input" type="password" style="width:90%" required>
            <label>Password</label>
        </p>
        <p>
            <button class="w3-button w3-section w3-blue w3-ripple"> Log in </button>
        </p>
    </form>
</div>