<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" [ngStyle]="setSidebarVisibility()">
    <h1 class="w3-xxxlarge w3-text-theme">Navigation</h1>
    <button class="w3-bar-item w3-button" (click)="closeSidebar()">Close <i class="fa fa-remove"></i></button>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
    <a href="#" class="w3-bar-item w3-button">Link 4</a>
</nav>

<header class="w3-container w3-theme w3-padding">
    <i (click)="openSidebar()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
    <div class="w3-center">
        <h4>Carvice!</h4>
        <h1 class="w3-animate-bottom">Your online vehicle service history</h1>
    </div>
</header>

<router-outlet></router-outlet>