<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center w3-blue">
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
    </a>
    <a *ngIf="!isAuth()" href="#signup" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
        <i class="fa fa-address-card w3-xxlarge"></i>
        <p>SIGN UP</p>
    </a>
    <a *ngIf="!isAuth()" href="#signin" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
        <i class="fa fa-angle-double-right w3-xxlarge"></i>
        <p>SIGN IN</p>
    </a>
    <a *ngIf="isAuth()" href="#dashboard" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
        <i class="fa fa-eye w3-xxlarge"></i>
        <p>DASHBOARD</p>
    </a>
    <a *ngIf="isAuth()" href="#profile" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>PROFILE</p>
    </a>
    <a *ngIf="isAuth()" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
        <i class="fa fa-angle-double-left w3-xxlarge"></i>
        <p>SIGN OUT</p>
    </a>
    <a href="#aboutus" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>ABOUT US</p>
    </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium w3-blue">
    <div class="w3-bar w3-center w3-small">
        <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
        <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
        <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
        <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
    </div>
</div>

<router-outlet></router-outlet>