<div class="w3-container">
    <h2>Vehicles</h2>
    <div class="w3-bar w3-margin-bottom">
        <button class="w3-button w3-indigo w3-margin-right actionBtn" [disabled]="selectedVehicleIds.length === 0"
            (click)="onDeleteVehicles()">Delete</button>
    </div>
    <app-shrd-table [_collection]="vehicles" [_headers]="vehiclesHeaders" [_selectable]="vehiclesSelectable"
        [_palette]="vehiclesPalette" [_pageLength]="4" (_selected)="onSelectedVehiclesChange($event)"></app-shrd-table>
</div>