<div>
    <table class="w3-table-all w3-card w3-left-align" style="table-layout: fixed;">
        <thead>
            <tr [ngClass]="palette">
                <th *ngIf="selectable">Select</th>
                <th *ngFor="let header of headers">{{ header.header }}</th>
            </tr>
        </thead>
        <tr *ngFor="let item of selectedPage">
            <td *ngIf="selectable">
                <input class="w3-check" type="checkbox" [checked]="isChecked(item.id)"
                    (change)="onChangeSelect($event, item.id)">
            </td>
            <td *ngFor="let header of headers">
                {{ item[header.attribute] }}
            </td>
        </tr>
    </table>
    <div *ngIf="pageKeys.length > 0" class="w3-show-inline-block w3-right w3-margin-top">
        <div class="w3-bar w3-border">
            <a *ngFor="let key of pageKeys" (click)="onPageSelect(key)" [ngClass]="setPageNrNgStyle(key)">{{key}}</a>
        </div>
    </div>
</div>